*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(10, 10, 10);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    color: darkgrey;
    
}
h2{
  font-family: 'Henny Penny', cursive;
  font-size: 29px;
  color: darkgrey;
  text-align: center;
}
h3{
  color: bisque;
  font-size: 29px;
  font-family: 'Itim', cursive;
}
p{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 25px;
  color: darkgrey;
}
.wrap2 p{
  font-family: 'Dancing Script', cursive;
}
.cover{
  width: 100%;
  height: 28rem;
}

.dp{
  left: 8%;
  top: 18rem;
  position: absolute;
  height: 20rem;
  clip-path: circle();
   
}
.wrap2{
  position: relative;
  text-align: start;
}
.wrap3{
  align-items: center;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 10%;
  
}
.card{
  width: 30rem;
  height: 17rem;
  margin-left: 10%;
  background-color: darkgrey;
}
.row{
  padding-top: 2%;
}
.info-menu p{
  font-size: 1.2rem;
}
.info-menu{
  padding-left: 15%;
}
.info-menu .fa fa-graduation-cap{
  background-color: blueviolet;
}
.wrap3 h5{
  color: rgb(114, 65, 5);
  font-size: 1.6rem;
  font-family: 'Itim', cursive;
}
.wrap3 h1{
  font-size: 1.6rem;
 
}
.wrap3 ul{
  font-size: 1.3rem;
  color: bisque;
}
.card-body p{
  font-size: 0.2rem;
}
.media{
  margin-bottom: 1rem;
}
.media h3{
  text-align: left;
}
.projects h1{
  font-size: 1.6rem;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.row .card p{
  color: rgb(24, 22, 22);
  font-size: 1.3rem;
}
.card-body a .fa{
  font-size: 2rem;
  margin-block-end: auto;
  margin-left: 90%;
  color: black;
}
/* .card-body .git-icon{
  background:red;
} */
.col-sm-6 a .fa{
  font-size: 1rem;
  
}
.col-sm-6{
  padding-top: 5%;
}
.wrap3 .card .card-body .button-row button{
  height: 15%;
  text-align: center;
 
}
.wrap3 .card .card-body .button-row {
  padding-bottom: 0%;
 
}
.container .blog{
  font-size: 1.6rem;
}

.wrap3 .card{
  height: 100%;
  width: 100%;
 
}
.list-unstyled h1{
  font-size: 1.6rem;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.media img{
  /* width: 40%;
  height: 40%; */
  width: 100%;
  filter: brightness(100%);
  opacity: 1;
  transition: 0.15s;
}
.media p{
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
  color: darkgrey;
}
.media:hover img{
  transform: scale(1.03);
  filter: brightness(30%);
}

.wrap4 h1{
  font-size: 1.6rem;
color: darkgray;
padding-left: 10%;
padding-top: 3%;
}
.social-menu{
  width: 100%;
  justify-content: center;
}
.social-menu ul{
  width: 50%;
  margin: 0;
}
.social-menu ul li{
  list-style: none;
}
.social-menu ul li .fa{
  font-size: 30px;
  line-height: 60px;
  transition: .6s;
  color: darkgray;

}
.footer{
  padding: 0;

}
.footer p{
  text-align: center;
  font-size: 20px;
}

.projects{
  text-align: center;
  padding-top: 5%;
  color: gray;
  font-size: medium;
  font-family: 'Grandstander', cursive;
}
.projects ul{
  font-size: 20px;
  padding-top: 20px;
  text-align: start;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.blog{
  transition: 0.1s;
  margin-bottom: 1rem;
}
.blog:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.blog img{
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  transition: 0.1s;
}
.blog img:hover{
  transform: scale(1.01);
  opacity: 0.7;
}
.blog .media-body p{
  font-size: 1.2rem;
}

/* responsive css */
@media only screen and (max-width:1200px){
  .cover{
    height: 20rem;
  }
  .dp{
    height: 15rem;
    top: 12rem;
  }
}

@media only screen and (max-width:900px){
  .cover{
    height: 20rem;
  }
  .dp{
    height: 15rem;
    top: 12rem;
  }
  .wrap2 h1{
    font-size: 2.3rem;
  }
  .wrap2 p{
    font-size: 1.6rem;
  }
}

@media only screen and (max-width:768px){
  .cover{
    height: 15rem;
  }
  .dp{
    height: 10rem;
    top: 10rem;
  }
  .wrap2{
    margin-top: 2.5rem;
  }
  .wrap2 h1{
    font-size: 2rem;
  }
  .wrap2 p{
    font-size: 1.3rem;
  }
  .projects h2{
    text-align: start;
  }
  .projects ul{
    margin-left: 2rem;
  }

  .wrap3 h2{
    text-align: start;
  }
  .wrap3 h3{
    text-align: start;
    margin-left: 1rem;
  }
  .social-menu ul{
    width: 80%;
  }
  .text p{
    font-size: 25px;
  }
}
@media only screen and (max-width:450px){
  .footer p{
    font-size: 1.2rem;
  }
  .card{
    width: 20rem;
    height: fit-content;
    background-color: darkgrey;
    font-size: 1rem;
  }
  .row{
    padding-top: 5%;
  }
  .info-menu p{
    font-size: 1rem;
  }
  .info-menu{
    padding-left: 3%;
  }
  .wrap3 h3{
    margin-left: 1.5rem;
  }
  .wrap3 h1{
    font-size: 1.6rem;
  }
  .media h3{
    text-align: left;
  }
  .wrap3 h5{
    font-size: 1.6rem;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .row .card p{
    color: rgb(24, 22, 22);
    font-family: 'Dancing Script', cursive;
    font-size: 1rem;
  }
  .card-body a .fa{
    font-size: 2rem;
    color: black;
  }
  .col-sm-2 a .fa{
    font-size: 2rem;
    padding-left: 70%;
   color: black;
  }
  .col-sm-6{
    padding-top: 3%;
  }
  .wrap3 .card .card-body .button-row button{
    height: 10%;
  }
}