*{
    background-color: #ffffff;
    overflow-x: hidden;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    
    align-items: center;
  
    
    /* Background styles */
  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.hero h2{
    color: #A27B5C;
    font-size: 4em;
    text-align: left;
    font-weight: bold;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family: 'Lora', serif;
        /* Margins */
    margin-top: 0;
    font-weight: bold;
    
 
}
.hero h3{
    font-family: 'Ms Madi', cursive;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;

}
.hero h5{
    color: #7F8487;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
.hero h6{
    color: #8d8d8d;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}
.navbar .navbar-nav a:hover{
   color: #A27B5C;
   border-bottom: #A27B5C;
}

.navbar .navbar-nav .home{
    animation: movedown 1s linear;
   
}
.navbar .navbar-nav .about{
    animation: movedown 1.2s linear;
}
.navbar .navbar-nav .project{
    animation: movedown 1.4s linear;
}
.navbar .navbar-nav .article{
    animation: movedown 1.6s linear;
}
.navbar .navbar-nav .contact{
    animation: movedown 1.8s linear;
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}
#sub-titles{
    text-align: center;
    color: black;
    font-family: 'Combo', cursive;
    font-weight: bold;
}
.profile img{
    clip-path: circle();
    width: 70%;
}
/*projects*/
.projects .project-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: #A27B5C;
}
.projects .language{
    color: #7F8487;
}
.projects .project-content{
    border-left: 3px solid #A27B5C;
    font-family: 'Lora', serif;
}
.projects .project-content span{
    background-color: #e6e1e1;
    border-radius: 3px;
    font-weight: bold;
}
.projects button{
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}
.projects button:hover{
    background-color: #A27B5C;
    border-color: #A27B5C;
}

/*Articles*/
.articles .date{
    color: #8d8d8d;
}
.articles .article-name{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}
.articles .article-desc{
    font-family: 'Lora', serif;
}
.articles span{
    background-color: #e6e1e1;
    border-radius: 10px;
    padding: 10px;
    
}
.articles img{
    clip-path: none;
    width: 60%;
}
.articles .time{
    color: #8d8d8d;
}

.services .box{
    border: #A27B5C 3px solid;
    border-radius: 3rem;
    opacity: 0.5;
}
.services .box{
    display: inline-block;
    margin: 4%;
}
.services .box .text{

    position: relative;
    text-align: justify;
    opacity: none;
    color: black;
}
.text h3{
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
}
.text h3 span{
    background-color: black;
    border-radius: 10px;
   
}

.text .soft-skills ul li{
    padding:5px;
    font-size: 1rem;
    list-style-type: square;
    
}

.profiles p{
    text-align: justify;
}
.profile hr{
  
    height: 2vh;
    align-self: center;
}
.profile .cycle{
    background-color: #F3F1F5;
    height: 6vh;
    width: 6vh;
    clip-path: circle();
}
.profile .cycle .fa{
    background-color: #F3F1F5;
    color: black;
    text-align: center;
    font-size: 3.5vh;
}
.profile .footer p{
    text-align: center;
}
.horizontal-rule{
    height: 0.5vh;
    width: 15vh;
    background-color: gray;
}
/* responsive */
@media only screen and (max-width:1200px){
   
    .hero{
        height: 100vh;
        width: 100%;

    }
    .hero .hero-inner h1{
       font-size: 5vh;
      
    }
    .hero .hero-inner h2{
        font-size: 4vh;
       
     }
    .hero .hero-inner h6{
        font-size: 2vh;
        font-weight: bold;
        text-align: justify;
        
    }
    
    
}