*{
    background-color: rgb(236, 229, 219);
}

.main h1{
    font-size: 5vw;
    text-align: center;
}
.main p{
    text-align: center;
    font-size: 1.5vw;
    color: gray;
}
.aboutme h1{
    text-align: center;
    color: black;
}
.aboutme p{
    text-align: center;
    font-size: 1.5vw;
    color: rgb(52, 52, 53);
}
/* responsive */
@media only screen and (max-width:1200px){
    .main p{ text-align: center;
        font-size: 3vw;
    }
}