*{
    background-color: #ffffff;
    overflow-x: hidden;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    
    align-items: center;
  
    
    /* Background styles */
  
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.hero h2{
    color: #A27B5C;
    font-size: 4em;
    text-align: left;
    font-weight: bold;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family: 'Lora', serif;
        /* Margins */
    margin-top: 0;
    font-weight: bold;
    
 
}
.hero h3{
    font-family: 'Ms Madi', cursive;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;

}
.hero h5{
    color: #7F8487;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
.hero h6{
    color: #8d8d8d;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
}


.navbar .navbar-nav{
    animation: movedown 1s linear;
    float: right;
}
@keyframes movedown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}
#sub-titles{
    text-align: center;
    color: black;
    font-family: 'Combo', cursive;
    font-weight: bold;
}

.aboutme p{
    text-align: justify;
    font-size: 1.5vw;
    color: rgb(52, 52, 53);
}
.aboutme ul {
    list-style-type: none;
}
.aboutme ul p{
    text-align: left;
}

.services .image img{
   
    width: 80%;
}
.services .box{
    background-color: #F3F1F5;
    border-radius: 3rem;
    opacity: 0.5;
}
.services .box{
    display: inline-block;
    margin: 4%;
}
.services .box .text{
    background-color:transparent;
    position: relative;
    text-align: justify;
    opacity: none;
    color: black;
}
.text h3{
    background-color: transparent;
    text-align: center;
}
.articles{
    margin-top: 25%;
    width: 95%;
}
.project{
    background-color: #F0D9FF;
    border-color: black;
    border-radius: 1.5rem;
}
.projects .project img{
    border-radius: 1.5rem;
}
.projects .project .description{
    background-color: #F0D9FF;
    font-weight: bold;
    text-align: center;
}
.project .description i{
    background-color: transparent;
    font-size: 3.5vh;
}
.projects .project p{
    background-color: #F0D9FF;
}
.doc{
    background-color: #F0D9FF;
    border-color: black;
    border-radius: 1.5rem;
    display: inline-block;
    width: 350px;
}
.doc img{
    border-radius: 1.5rem;
}
.doc p{
    background-color: transparent;
    text-align: justify;
    color: black;
    white-space: normal;
}
.doc .btn{
    background-color: #BFA2DB;
}
.art{
    height: 700px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.profile img{
    clip-path: circle();
    width: 70%;
    
}
.profiles p{
    text-align: justify;
}
.profile hr{
  
    height: 2vh;
    align-self: center;
}
.profile .cycle{
    background-color: #F3F1F5;
    height: 6vh;
    width: 6vh;
    clip-path: circle();
}
.profile .cycle .fa{
    background-color: #F3F1F5;
    color: black;
    text-align: center;
    font-size: 3.5vh;
}
.profile .footer p{
    text-align: center;
}
.horizontal-rule{
    height: 0.5vh;
    width: 15vh;
    background-color: gray;
}
/* responsive */
@media only screen and (max-width:1200px){
    .main p{ 
        text-align: center;
        font-size: 3vw;
    }
    .aboutme p{
        font-size: 3vw;
        text-align: left;
    }
}